<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<style type="text/css">
		ul li{
			display: inline;
			margin-left: 20px;
		}
	</style>
</head>
<body>
	<div>
		<ul>
		<li><a href="{% url 'lgout' %}">Logout</a></li>
		<li><a href="">MyNetwork</a></li>	
		<li><a href="{% url 'srch' %}">Search</a></li>
		<li><a href="">Follow this user</a></li>
		<li><a href="{% url 'pst' %}">WritePost</a></li>
		<li><a href="{% url 'cmmt' %}">Comment</a></li>
		<li><a href="http://127.0.0.1:8000/profile/">Back to my profile</a></li>
</ul>
	</div>

	{% load staticfiles %}
<p>Linked in-- {{ user.FirstName }} {{ user.LastName }} </p>
{% if user.image %}
   <img src="{{ user.image.url }}">
 {% else %}
 <p>No image available</p>  
{% endif %}
<p>{{ user.Experience }}</p>
<p>{{ user.Skill }}</p>
<ul>
<h1>Posts</h1>
<br>
{% for post in user.post_set.all %}
<li>{{ post.user }}</li>
<br>
    <li>{{ post.posts_text }}</li>
    <br>
    {% for comments in post.comment_set.all%}
    <li>{{ comments.username_text }}</li>
    <br>
    <li>{{ comments.comment_text }}</li>
    {% endfor %}
    <br>
    <br>
{% endfor %}
</ul>
</body>
</html>