<!DOCTYPE html>
<html>
<head>
	<title>posts</title>
</head>
<body>
	<h1>Write Post</h1>

<form method="POST">
	{% csrf_token %}
{{ form.as_p }}
<input type="submit" name="submit" value="Posts">
</form>
<br>
<a href="http://127.0.0.1:8000/profile/?next=/login/">Back to your Profile</a>
<br><br>
<ul>
<h1>Posts</h1>
<br>
{% for posts in post_list %}
<li>{{ posts.user }}</li>
    <li>{{ posts.posts_text }}</li>
    {% for comments in posts.comment_set.all%}
    <li>{{ comments.username_text }}</li>
    <li>{{ comments.comment_text }}</li>
    {% endfor %} 
    <br>
    <br>
{% endfor %}
</ul>
</body>
</html>